amqp==1.4.9
ansicon==1.89.0
anyjson==0.3.3
arrow==0.16.0
asgiref==3.2.10
billiard==3.3.0.23
blessed==1.17.10
Django==3.1
django-compat==1.0.15
django-filter==2.3.0
django-picklefield==3.0.1
gunicorn==20.0.4
jinxed==1.0.1
kombu==3.0.37
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
wcwidth==0.2.5
whitenoise==5.2.0
