{% extends 'base.html' %}

{% block content %}
<h1 id="username" class="text-center">Hi {{ request.user }} </h1><span><a href="{% url "logout" %}">Logout</a></span>

{% for record in records %}
{{ record.total_calorie }}
{% endfor %}
<div class="container mt-2">
  <div class="row">
    <div class="col-lg-6 col-sm-12 item ">
      <div class="card item-card card-block">
        <h5 class="item-card-title mt-3 mb-3 text-center">Total Calories Consumed Today</h5>
        <p class="card-text text-center">{{ total_calorie }}</p> 
  	</div>
    </div>
    <div class="col-lg-6 col-sm-12 item">
      <div class="card item-card card-block">
        <h5 class="card-title  mt-3 mb-3 text-center">Calorie Goal For Today</h5>
        <p class="card-text text-center">{{ calorie_goal }}</p> 
  </div>
    </div>
  </div>
  
</div>
	
      <div class="card text-white border-danger text-center mt-4">

        <div class="card-body">
          
          <p class="card-text text-center"> 
          {% if calorie_goal_status > 0 %}
			You need  {{ calorie_goal_status }} calories more to reach your goal 
		  {% elif calorie_goal == 0 %}
			Enter your calorie goal for the day 
		  {% else %}
			You surpassed your goal by {{ over_calorie }} calories 
		  {% endif %} </p>

        </div>

      </div>





{% endblock content %}