{% extends 'base.html' %}

{% block content %}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>

            <form method="POST" action="" class="login-form">
              {% csrf_token %}
                <div class="control-group">
                {{ form.username }}
                
                </div>

                <div class="control-group">
                {{ form.email}}
                </div>   
                 <div class="control-group">
                {{ form.password1 }}
                </div> 
                 <div class="control-group">
                {{ form.password2 }}
                </div> 
                <input class="btn btn-primary btn-large btn-block" type="submit" name="Register">

            </form>
            {{ form.errors }}
            <div class="d-flex justify-content-center links mt-8">
            Already have an account? <a href="{% url 'login' %}" class="ml-4">Login</a>
          </div>
        </div>
    </div>
    <script>
  
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Username..';
    form_fields[2].placeholder='Email..';
    form_fields[3].placeholder='Enter password...';
    form_fields[4].placeholder='Re-enter Password...';


    for (var field in form_fields){ 
      form_fields[field].className += ' form-control'
    }
  </script>

{% endblock content %}